@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");

:root {
  --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
  --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
  --Grayish-Blue: hsl(212, 23%, 69%);
  --Light-Grayish-Blue: hsl(210, 46%, 95%);
  --White: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Manrope", sans-serif;
  font-size: 13px;
  background-color: var(--Light-Grayish-Blue);

  display: flex;
  justify-content: center;
  align-items: center;
}

/* CONTAINER */

.card {
  width: 90%;
  max-width: 23rem;
  border-radius: 1rem;
  margin: 0 auto;

  background-color: var(--White);
  overflow: hidden;
}

/* BANNER */

.card-image {
  width: 100%;
}

.banner {
  width: 100%;
  max-height: 12rem;
  display: block;
  object-fit: cover;
}

/* CONTENT */
.card-content {
  padding: 2rem;
}

.card-heading {
  font-size: 1rem;
  color: var(--Very-Dark-Grayish-Blue);
}

.card-description {
  padding-top: 1rem;
  font-size: 0.85rem;
  color: var(--Desaturated-Dark-Blue);
}

/* PROFILE */

.profile {
  display: flex;
  align-items: center;
  gap: 1rem;

  padding: 0 2rem 2rem 2rem;
}

.profile-image {
  height: 48px;
  width: 48px;
  border-radius: 50%;

  object-fit: cover;
}

.profile-info p {
  font-weight: 700;
  color: var(--Very-Dark-Grayish-Blue);
  margin-bottom: 0.2rem;
}

.profile-info span {
  color: var(--Grayish-Blue);
  font-size: 0.8rem;
}

.profile-icon-share {
  border: none;
  border-radius: 50%;
  height: 32px;
  width: 32px;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: auto;
}

/* PROFILE-ALT */

.profile-alt {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0 2rem 2rem 2rem;

  background-color: var(--Desaturated-Dark-Blue);
}

.profile-icons img {
  background-color: black;
}
